# НЕ копировать в образ
.git
node_modules

# Excel‑файлы и папка LOS
src/LOS
*.xlsx

# Локальные сборки фронтенда
build

# Серверный код (для nginx‑образа он не нужен)
server.py
excel_saver.py
requirements.txt
Dockerfile.backend
docker-compose.yml

# IDE‑ и кеш‑файлы
.vscode/
__pycache__/

# Большие бинарники
cloudflared.exe