# НЕ копировать в образ
.git
node_modules

# Excel‑файлы и папка LOS (не нужны в образе)
src/LOS
*.xlsx

# Локальные сборки фронтенда
build

# IDE‑ и кеш‑файлы
.vscode/
__pycache__/

# Большие бинарники
cloudflared.exe